.contenedor-characters-grande {
    width: 250px;
    height: 250px;
    border-radius: 10%;
    background-color: rgb(254, 69, 2, 0.7);
    box-shadow: 0 0px 30px 0px black;
    margin: 40px;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.nombreCharacter {
    font-size: 3.5rem;
    font-family: sans-serif;
    color: white;
    margin: 100px auto;
    display: flex;
    cursor: pointer;
    position: absolute;
}

.nombreCharacter:hover {
    transform:
        scale(1.2) perspective(250px) translateZ(10px)
}

.img-characteres {
    width: 100%;
    height: 100%;
    
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}