.fondo {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(161, 159, 159, 0.3) 0%, rgba(200, 195, 195, 0.3) 0%), url("../img/reyleon1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.img-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100px;
}

@media screen and (min-width: 700px) {

    .logo {
        height: 180px;
    }
}

.contenedor-inicial {

    width: 320px;
    height: 370px;
    background-color: rgba(52, 118, 185, 0.4);
    padding: 30px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;

}

.bienvenido {
    font-size: 25px;
    color: rgb(18, 60, 103);
    font-family: solid, fantasy;
    text-align: center;
}

label {
    font-size: 20px;
    font-family: solid, fantasy;
    box-shadow: none;
}

input {
    width: 300px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(243, 221, 167, 0.7);
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(243, 221, 167, 0.7);
    font-size: 15px;
}

.input-normal {

    border: 1px solid rgba(243, 221, 167, 0.7);
    color: white;
    background: rgba(243, 221, 167, 0.7);

}

.input-error {

    border: 1px solid red;
    color: red;
    background: rosybrown;

}

.label-error {
    font-size: 12px;
    color: red;
    margin-left: 10px;
    font: solid;
}

button {
    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(52, 118, 185);
    border-radius: 15px;
    cursor: pointer;
    color: azure;
    font-size: 15px;
    border: 1px solid rgba(52, 118, 185);
    align-items: center;
    margin: 25px auto;
    display: flex;
    justify-content: center;
}


button:hover {
    background-color: rgba(169, 95, 50);
    border: 1px solid rgba(169, 95, 50);
}

.error-general {
    font-size: 15px;
    color: red;
    margin-left: 10px;
    font: solid;
    margin-top: 15px;
}